{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}

<h1 class="text-center">Приветствую,  я.__name__ = 'Константин'</h1>
<div class="row">
    <aside class="col-12 col-md-3">
       
    </aside>
    <article class="col-12 col-md-6"> 
        <p>
            Я автор данного проекта.
        </p>
        <p>
            Это я на отдыхе в горах вместе со своей девушкой.
        </p>
        <p>
            Я пока ничего не знаю и ничего не умею, но стараюсь. Весь прогресс я буду сохранять на своем гитхабе.     
            <a href="https://github.com/Glownts">
                Кстати, вот он.
            </a>
        </p>
        <p>
            Пока что, это вся информация, которой я могу поделиться - большего у меня для Вас нет.
            Хотя, если подумать, кое-что, все же найдется. Если интересно, можете заглянуть.
        </p>
        <p>
            <img src="{% static 'img/qr.png' %}" width="190" height="190" alt="qr-code">
        </p>
    </article>
    <aside class="col-12 col-md-3 ">
        <p class="border border-5 border-warning">
            А это бессмысленный aside в убогой warning-рамочке. Зачем он существует - загадка, но он есть. Вместе с ним страничка стала выглядить
            переполненно и колхозно, я это знаю, однако он останется тут и никто с этим ничего не сможет поделать.
        </p>
    </aside>
</div>

{% endblock %}