{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="https://www.python.org/" class="link-dark">
          Python
        </a>
      </li>
      <li class="list-group-item">
      <a href="https://www.djangoproject.com/" class="link-dark">  
        Django
      </a>  
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Пока что, я толком ничего не умею, даже перечисленным владею слабо. Однако все еще впереди.</p>
    <p>Сейчас эта тестовая страница выгляит убого, но когда нибудь я приведу её в порядок (но это не точно).</p>
  </article>
</div>

{% endblock %}